<div class="row">
    <div class="col-xs-10">

        <app-shopping-edit></app-shopping-edit>
        <!-- <router-outlet></router-outlet> -->
        <hr>
        <ul class="list-group">
            <a class="list-group-item" 
                style="cursor: pointer;" 
                *ngFor="let shpListIng of shopListIngrediants; let i=index"
                (click)="onEditItem(i)">
                <label>Name:</label> {{shpListIng.name}}
                <br>
                <label>Amount:</label> ({{shpListIng.amount}})
            </a>
        </ul>
    </div>
</div>